    <!-- Scripts -->
    <% 
        js.forEach(link => {
            %>
                <script 
                    src="<%= link.src %>" 
                    async="<%= link.async %>"
                    defer="<%= link.defer %>"
                    integrity="<%= link.integrity %>"
                    crossorigin="<%= link.crossorigin %>"
                    type="<%= link.type %>"
                ></script>
            <%
        })
    %>
    </body>
</html>